---
http_interactions:
- request:
    method: get
    uri: https://gateway.marvel.com/v1/public/characters?apikey=<PUBLIC_KEY>&hash=<ENCRYPTED_HASH>&name=&ts=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"code":409,"status":"name cannot be blank if it is set"}'
  recorded_at: Sat, 31 Aug 2024 10:19:06 GMT
recorded_with: VCR 6.3.1
