<!-- Pagination -->
<div class="flex justify-between my-12 invisible" data-comics-target="pagination">
  <button data-action="click->comics#previousPage" class="inline-flex items-center px-3 py-1.5 text-red-700 bg-white">
    <span class="ml-1 font-bold text-lg">PREVIOUS PAGE</span>
  </button>
  <button data-action="click->comics#nextPage" class="inline-flex items-center px-3 py-1.5 text-red-700 bg-white">
    <span class="mr-1 font-bold text-lg">NEXT PAGE</span>
  </button>
</div>
